<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InsiderTestSuite" verbose="1" parallel="false">
    <test name="InsiderTestScenarios">
        <classes>
            <class name="tests.InsiderTest">
                <methods>
                    <include name="testHomepageLoads"/>
                    <include name="testCareersPageNavigation"/>
                    <include name="testQAJobsFiltering"/>
                    <include name="testJobDetailsValidation"/>
                    <include name="testLeverApplicationRedirect"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>